<!DOCTYPE html>
<html>
    {% include "html_head.html" %}
    <body>
        <div id="header-content">
            <table>
                <tr>
                    <td align="left">BittyTax Report</td>
                    <td align="right">{{date|datefilter}}</td>
                </tr>
            </table>
        </div>
        <div id="footer-content">
            Page <pdf:pagenumber> of <pdf:pagecount>
        </div>
        <div id="cover-page">
            {% include "logo.html" %}
            <h1>Cryptoasset Accounting Report</h1>
            <h2>Audit Report: {{date|datefilter}}</h2>
        </div>
        <pdf:nexttemplate name="default" />
        <pdf:nextpage />
        <h1>Audit</h1>
        {% include "audit.html" %}
    </body>
</html>
