{% set cgains = tax_report[tax_year]['CapitalGains'] %}
<h3>Tax Estimate</h3>
<p>
    The figures below are only an estimate, they do not take into consideration other gains and losses in the same tax year, always consult with a professional accountant before filing.
</p>
{% if not cgains.split_date %}
    {% set cgt_estimate = cgains.cgt_estimate %}
    {% include "cgt_estimate2.html" %}
{% else %}
    <h4>Gains before {{ cgains.split_date|datefilter2 }}</h4>
    {% set cgt_estimate = cgains.cgt_estimate %}
    {% include "cgt_estimate2.html" %}
    <h4>Gains on or after {{ cgains.split_date|datefilter2 }}</h4>
    {% set cgt_estimate = cgains.cgt_estimate_split %}
    {% include "cgt_estimate2.html" %}
{% endif %}
