<table width="75%">
    <tr>
        {% if cgt_estimate['allowance_used'] %}
            <td>Taxable gain*:</td>
        {% else %}
            <td>Taxable gain:</td>
        {% endif %}
        <td align="right">{{ cgt_estimate['taxable_gain']|valuefilter }}</td>
        <td></td>
    </tr>
    <tr>
        <td>Capital Gains Tax (Basic rate):</td>
        <td align="right">{{ cgt_estimate['cgt_basic']|valuefilter }}</td>
        <td align="left" style="padding-left:2px">({{ cgt_estimate['cgt_basic_rate']|ratefilter }})</td>
    </tr>
    <tr>
        <td>Capital Gains Tax (Higher rate):</td>
        <td align="right">{{ cgt_estimate['cgt_higher']|valuefilter }}</td>
        <td align="left" style="padding-left:2px">({{ cgt_estimate['cgt_higher_rate']|ratefilter }})</td>
    </tr>
</table>
{% if cgt_estimate['allowance_used'] %}
    <p>
        *{{ cgt_estimate['allowance_used']|valuefilter }} of the "Annual Exempt Amount" tax-free allowance ({{ cgt_estimate['allowance']|valuefilter }}) used
    </p>
{% endif %}
