<div id="cover-page">
    <img src="{{TEMPLATE_PATH}}/img/BittyTax300dpi.png" class="logo">
    <h1>Cryptoasset Accounting Report</h1>
    <h2>US Individual Tax Rules</h2>
    <p><strong>Calculation Method Used:</strong> {{ config.matching_method }}</p>
    {% if args.tax_year %}
        <h3>Tax Year: {{config.format_tax_year(args.tax_year)}}</h3>
    {% else %}
        <h3>Tax Year(s):
        {% for tax_year in tax_report|sort %}
            {{config.format_tax_year(tax_year)}}
            {%- if not loop.last -%}
               ,
            {% endif %}
        {% endfor %}
        </h3>
    {% endif -%}
    <h4>Source: {{args.filename}}</h4>
</div>
<pdf:nexttemplate name="default" />
<pdf:nextpage />
