{% if holdings_report['holdings_per_wallet'] %}
    <h2>Wallet Balances</h2>
    {% for wallet in holdings_report['holdings_per_wallet']|sort %}
        <h3>{{ wallet }}</h3>
        {% set wallet_totals = namespace(cost=0, value=0, gain=0) %}
        {% with holdings=holdings_report['holdings_per_wallet'][wallet] %}
            {% include "holdings_table.html" %}
            {% for asset in holdings %}
                {% set wallet_totals.cost = wallet_totals.cost + holdings[asset]['cost'] %}
                {% if holdings[asset]['value'] is not none %}
                    {% set wallet_totals.value = wallet_totals.value + holdings[asset]['value'] %}
                    {% set wallet_totals.gain = wallet_totals.gain + holdings[asset]['gain'] %}
                {% endif %}
            {% endfor %}
            <table class="total-table">
                <tr>
                    <td align="left">Total</td>
                    <td align="left"></td>
                    <td align="right">{{ wallet_totals.cost|valuefilter }}</td>
                    <td align="right">{{ wallet_totals.value|valuefilter }}</td>
                    {% if wallet_totals.gain >= 0 %}
                        <td align="right">{{ wallet_totals.gain|valuefilter }}</td>
                    {% else %}
                        <td align="right" class="red-font">{{ wallet_totals.gain|valuefilter }}</td>
                    {% endif %}
                </tr>
            </table>
        {% endwith %}
    {% endfor %}
{% endif %}
<h2>Asset Balances</h2>
{% with holdings=holdings_report['holdings_per_asset'] %}
    {% include "holdings_table.html" %}
{% endwith %}
<table class="total-table">
    <tr>
        <td align="left">Total</td>
        <td align="left"></td>
        <td align="right">{{ holdings_report['total']['cost']|valuefilter }}</td>
        <td align="right">{{ holdings_report['total']['value']|valuefilter }}</td>
        {% if holdings_report['total']['gain'] >= 0 %}
            <td align="right">{{ holdings_report['total']['gain']|valuefilter }}</td>
        {% else %}
            <td align="right" class="red-font">{{ holdings_report['total']['gain']|valuefilter }}</td>
        {% endif %}
    </tr>
</table>
