<h2>Current Holdings</h2>
<table repeat="1" width="100%" class="asset-table">
    <tr>
        <th align="left">Asset</th>
        <th align="left">Quantity</th>
        <th align="right">Cost Basis</th>
        <th align="right">Market Value</th>
        <th align="right">Gain or (Loss)</th>
    </tr>
    {% for h in holdings_report['holdings']|sort %}
        <tr>
            {% if holdings_report['holdings'][h]['name'] %}
                <td>{{h}} ({{holdings_report['holdings'][h]['name']}})</td>
            {% else %}
                <td>{{h}}</td>
            {% endif %}
            <td align="left">{{holdings_report['holdings'][h]['quantity']|quantityfilter}}</td>
            <td align="right">{{holdings_report['holdings'][h]['cost']|valuefilter}}</td>
            {% if holdings_report['holdings'][h]['value'] is not none %}
                <td align="right">{{holdings_report['holdings'][h]['value']|valuefilter}}</td>
                {% if holdings_report['holdings'][h]['gain'] >= 0 %}
                    <td align="right">{{holdings_report['holdings'][h]['gain']|valuefilter}}</td>
                {% else %}
                    <td align="right" class="red-font">{{holdings_report['holdings'][h]['gain']|valuefilter}}</td>
                {% endif %}
            {% else %}
                <td align="right"><i>Not available</i></td>
                <td></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
<table class="total-table">
    <tr>
        <td align="left">Total</td>
        <td align="left"></td>
        <td align="right">{{holdings_report['totals']['cost']|valuefilter}}</td>
        <td align="right">{{holdings_report['totals']['value']|valuefilter}}</td>
        {% if holdings_report['totals']['gain'] >= 0 %}
            <td align="right">{{holdings_report['totals']['gain']|valuefilter}}</td>
        {% else %}
            <td align="right" class="red-font">{{holdings_report['totals']['gain']|valuefilter}}</td>
        {% endif %}
    </tr>
</table>
