<h2>Income</h2>
{% set income = tax_report[tax_year]['Income'] %}
{% for asset in income.assets|sort %}
    {% set asset_totals = namespace(events=0, quantity=0, amount=0, fees=0) %}
    <table repeat="1" width="100%" class="asset-table">
        <tr>
            <th align="left">Asset</th>
            <th align="left">Quantity</th>
            <th align="left">Description</th>
            <th align="left">Date Acquired</th>
            <th align="left">Income Type</th>
            <th align="right">Market Value</th>
            <th align="right">Fees</th>
        </tr>
        {% for te in income.assets[asset] %}
            {% set asset_totals.events = asset_totals.events + 1 %}
            <tr>
                <td>{{te.asset}}</td>
                <td>{{te.quantity|quantityfilter}}</td>
                <td>{{te.note}}</td>
                <td>{{te.date|datefilter}}</td>
                <td>{{te.type.value}}</td>
                {% set asset_totals.quantity = asset_totals.quantity + te.quantity %}
                <td align="right">{{te.amount|valuefilter}}</td>
                {% set asset_totals.amount = asset_totals.amount + te.amount %}
                <td align="right">{{te.fees|valuefilter}}</td>
                {% set asset_totals.fees = asset_totals.fees + te.fees %}
            </tr>
        {% endfor %}
        {% if asset_totals.events > 1 %}
            <tr>
                <td align="left">Total</td>
                <td align="left">{{asset_totals.quantity|quantityfilter}}</td>
                <td></td>
                <td></td>
                <td></td>
                <td align="right">{{asset_totals.amount|valuefilter}}</td>
                <td align="right">{{asset_totals.fees|valuefilter}}</td>
            </tr>
        {% endif %}
    </table>
    <br>
{% endfor %}
<table repeat="1" width="100%" class="asset-table">
    <tr>
        <th align="left">Income Type</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th align="right">Market Value</th>
        <th align="right">Fees</th>
    </tr>
    {% for i_type in income.type_totals|sort %}
        <tr>
            <td>{{i_type}}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td align="right">{{income.type_totals[i_type]['amount']|valuefilter}}</td>
            <td align="right">{{income.type_totals[i_type]['fees']|valuefilter}}</td>
        </tr>
    {% endfor %}
</table>
<table class="total-table">
    <tr>
        <td align="left">Total</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td align="right">{{income.totals['amount']|valuefilter}}</td>
        <td align="right">{{income.totals['fees']|valuefilter}}</td>
    </tr>
</table>
