<!DOCTYPE html>
<html>
    {% include "html_head.html" %}
    <body>
        {% include "header_footer.html" %}
        {% include "cover_page.html" %}
        <h1>Audit</h1>
        {% include "audit.html" %}
        <pdf:nextpage />
        {% for tax_year in tax_report|sort %}
            <h1 class="tax-year">Tax Year - {{config.format_tax_year(tax_year)}}</h1>
            <h2 class="date-range">{{config.get_tax_year_start(tax_year)|datefilter2}} to {{config.get_tax_year_end(tax_year)|datefilter2}}</h2>
            {% if args.tax_rules in TAX_RULES_UK_COMPANY %}
                <h2>Chargeable Gains</h2>
                {% include "capital_gains.html" %}
                {% include "ct_estimate.html" %}
            {% else %}
                <h2>Capital Gains</h2>
                {% include "capital_gains.html" %}
                {% include "cgt_estimate.html" %}
            {% endif %}
            {% include "income.html" %}
            {% include "margin_trading.html" %}
            {% if not loop.last %}
                <pdf:nextpage />
            {% endif %}
        {% endfor %}
        <pdf:nextpage />
        <h1>Appendix</h1>
        {% for tax_year in tax_report|sort %}
            {% include "price_data.html" %}
            {% if not loop.last %}
                <pdf:nextpage />
            {% endif %}
        {% endfor %}
        {% if holdings_report %}
           <pdf:nextpage />
           {% include "holdings.html" %}
        {% endif %}
    </body>
</html>
